@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import Url(/assets/css/fontface_fa.css);

body {
  background: #15182b;
  color: white;
  direction: rtl;
}

* {
  font-family: iransansz, Roboto, Helvetica, Arial, sans-serif;
}
