@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import Url(/assets/css/fontiran.css);
/*@import Url(/assets/css/normalize.css);*/

body {
  background: #15182b;
  color: white;
  direction: rtl;
}

* {
  font-family: IRANSans, Roboto, Helvetica, Arial, sans-serif;
}

.widget-container {
  margin: 40px 0px;
}

.title {
  color: #3bc8e6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: IRANSans,"Segoe UI",Arial,sans-serif;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
