@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import Url(/assets/css/fontiran.css);
/*@import Url(/assets/css/normalize.css);*/

body {
  background: #15182b;
  color: white;
}

* {
  font-family: IRANSans, Roboto, Helvetica, Arial, sans-serif;
}

/* .widget-container {
  margin: 40px 0px;
} */

/* .title {
  color: #3bc8e6;
} */

h1, h2, h3, h4, h5, h6 {
  font-family: IRANSans,"Segoe UI",Arial,sans-serif !important;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.loading{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loading-svg {
  width: 50px;
}

.chrome-warning{
  margin-top: 20px;
  text-align: justify;
  max-width: 300px;
  padding: 0px 10px;
  font-size: 12px;
  /*position: absolute;
  bottom: 0;*/
}

.loading-logo{
  width: 300px;
}

@media screen and (max-width: 470px) 
{
  .loading-logo{
    width: 200px;
  }
}

@media screen and (max-width: 768px) 
{
  .loading-logo{
    width: 250px;
  }
}
